# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
htmlcov/
.hypothesis/
.venv/
venv/
env/
ENV/
.python-version
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
lib-cov
coverage
.nyc_output
.grunt
bower_components
.sencha
node_modules/
jspm_packages/
config/
dist/
build/
*.log
.env*
.nyc_output/
coverage/