<?xml version="1.0"?>
<model>
  <name>simple_gripper</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Physical AI Book</name>
    <email>info@physicalai-book.org</email>
  </author>

  <description>
    Simple gripper for humanoid robot end effector
  </description>
</model>